<tfoot>
    <tr>
        <td colspan="3" class="sonata-ba-list-field sonata-ba-list-field-text text-right">
            {% if not object.fcFormTemplates | length %}
                {{ 'fc.message.admin.no_templates' | trans({}, 'FenrizbesFormConstructorBundle') }}
            {% endif %}
        </td>
        <td>
            <a
                href="#fc_modal"
                data-toggle="modal"
                data-title="{{ 'fc.title.admin.template.modal.create' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                data-url="{{ admin.generateUrl('select_template', { id: object.id }) }}"
                data-scope="create"
                class="btn btn-sm btn-default create_link"
                title="{{ 'fc.title.admin.new_template' | trans({}, 'FenrizbesFormConstructorBundle') }}"
            >
                <i class="glyphicon glyphicon-plus-sign"></i>
                {{ 'fc.title.admin.new_template' | trans({}, 'FenrizbesFormConstructorBundle') }}
            </a>
        </td>
    </tr>
</tfoot>