<p>
    <div class="btn-group">
        {{ include([
            'FenrizbesFormConstructorBundle:SonataAdmin/FcFormBehavior/ActionInfo:'~ action.action ~'.html.twig',
            'FenrizbesFormConstructorBundle:SonataAdmin/FcFormBehavior/ActionInfo:default.html.twig'
        ]) }}

        <a
            href="#fc_modal"
            data-toggle="modal"
            data-title="{{ 'fc.title.admin.action.modal.edit' | trans({}, 'FenrizbesFormConstructorBundle') }}: {{ action.action | fc_action | trans({}, 'FenrizbesFormConstructorBundle') }}"
            data-url="{{ admin.generateUrl('edit_behavior_action', { id: object.id, action_id: action.id }) }}"
            data-scope="edit"
            class="btn btn-xs btn-default edit_link"
            title="{{ 'action_edit' | trans({}, 'SonataAdminBundle') }}"
        >
            <i class="glyphicon glyphicon-edit"></i>
        </a>

        {% if action.isActive %}
            <a
                href="#"
                data-url="{{ admin.generateUrl('set_behavior_action_state', { id: object.id, item_id: action.id, active: 0 }) }}"
                class="btn btn-xs btn-default set_state_link"
                title="{{ 'fc.label.admin.unpublish' | trans({}, 'FenrizbesFormConstructorBundle') }}"
            >
                <i class="glyphicon glyphicon-ok"></i>
            </a>
        {% else %}
            <a
                href="#"
                data-url="{{ admin.generateUrl('set_behavior_action_state', { id: object.id, item_id: action.id, active: 1 }) }}"
                class="btn btn-xs btn-default set_state_link"
                title="{{ 'fc.label.admin.publish' | trans({}, 'FenrizbesFormConstructorBundle') }}"
            >
                <i class="glyphicon glyphicon-ban-circle"></i>
            </a>
        {% endif %}

        <a
            href="#fc_modal"
            data-toggle="modal"
            data-title="{{ 'fc.title.admin.action.modal.delete' | trans({}, 'FenrizbesFormConstructorBundle') }}: {{ action.action | fc_action | trans({}, 'FenrizbesFormConstructorBundle') }}"
            data-url="{{ admin.generateUrl('delete_behavior_action', { id: object.id, action_id: action.id }) }}"
            data-delete-url="{{ admin.generateUrl('do_delete_behavior_action', { id: object.id, action_id: action.id }) }}"
            data-scope="delete"
            class="btn btn-xs btn-default delete_link"
            title="{{ 'action_delete' | trans({}, 'SonataAdminBundle') }}"
        >
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
</p>