<li class="list-group-item">
    <div class="row">
        <div class="col-xs-4">
            {% for condition in item.fcFormBehaviorConditions %}
                {{ include('FenrizbesFormConstructorBundle:SonataAdmin/FcFormBehavior:list_item_condition.html.twig') }}
            {% endfor %}

            <p>
                <a
                    href="#fc_modal"
                    data-toggle="modal"
                    data-title="{{ 'fc.title.admin.condition.modal.create' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                    data-url="{{ admin.generateUrl('select_behavior_condition', { id: object.id, behavior_id: item.id }) }}"
                    data-scope="create"
                    class="btn btn-xs btn-default create_link"
                    title="{{ 'fc.title.admin.new_condition' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                >
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </p>
        </div>

        <div class="col-xs-3">
            {% for action in item.thenActions %}
                {{ include('FenrizbesFormConstructorBundle:SonataAdmin/FcFormBehavior:list_item_action.html.twig') }}
            {% endfor %}

            <p>
                <a
                    href="#fc_modal"
                    data-toggle="modal"
                    data-title="{{ 'fc.title.admin.action.modal.create' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                    data-url="{{ admin.generateUrl('select_behavior_action', { id: object.id, behavior_id: item.id, check: 1 }) }}"
                    data-scope="create"
                    class="btn btn-xs btn-default create_link"
                    title="{{ 'fc.title.admin.new_action' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                >
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </p>
        </div>

        <div class="col-xs-3">
            {% for action in item.elseActions %}
                {{ include('FenrizbesFormConstructorBundle:SonataAdmin/FcFormBehavior:list_item_action.html.twig') }}
            {% endfor %}

            <p>
                <a
                    href="#fc_modal"
                    data-toggle="modal"
                    data-title="{{ 'fc.title.admin.action.modal.create' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                    data-url="{{ admin.generateUrl('select_behavior_action', { id: object.id, behavior_id: item.id, check: 0 }) }}"
                    data-scope="create"
                    class="btn btn-xs btn-default create_link"
                    title="{{ 'fc.title.admin.new_action' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                >
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </p>
        </div>

        {{ include('FenrizbesFormConstructorBundle:SonataAdmin/FcFormBehavior:list_item_controls.html.twig') }}
    </div>
</li>