<div class="col-xs-2 text-right">
    <div class="btn-group">
        {% if item.isActive %}
            <a
                href="#"
                data-url="{{ admin.generateUrl('set_behavior_state', { id: object.id, item_id: item.id, active: 0 }) }}"
                class="btn btn-xs btn-default set_state_link"
                title="{{ 'fc.label.admin.unpublish' | trans({}, 'FenrizbesFormConstructorBundle') }}"
            >
                <i class="glyphicon glyphicon-ok"></i>
            </a>
        {% else %}
            <a
                href="#"
                data-url="{{ admin.generateUrl('set_behavior_state', { id: object.id, item_id: item.id, active: 1 }) }}"
                class="btn btn-xs btn-default set_state_link"
                title="{{ 'fc.label.admin.publish' | trans({}, 'FenrizbesFormConstructorBundle') }}"
            >
                <i class="glyphicon glyphicon-ban-circle"></i>
            </a>
        {% endif %}

        <a
            href="#fc_modal"
            data-toggle="modal"
            data-title="{{ 'fc.title.admin.behavior.modal.delete' | trans({}, 'FenrizbesFormConstructorBundle') }}"
            data-url="{{ admin.generateUrl('delete_behavior', { id: object.id, behavior_id: item.id }) }}"
            data-delete-url="{{ admin.generateUrl('do_delete_behavior', { id: object.id, behavior_id: item.id }) }}"
            data-scope="delete"
            class="btn btn-xs btn-default delete_link"
            title="{{ 'action_delete' | trans({}, 'SonataAdminBundle') }}"
        >
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
</div>