<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>

    {% if listener.params.header is not empty %}
        <p>{{ listener.params.header | nl2br }}</p>
    {% endif %}

    {% for key, value in data %}
        {% if value is not empty %}
            {% set options = form.get(key).config.options %}

            {% if options.label is defined and options.label is not empty %}
                {{ options.label }}:
            {% else %}
                {{ key }}:
            {% endif %}

            {% if value is iterable and options.choices is defined %}
                {% set values = [] %}

                {% for choice in value %}
                    {% if options.choices[choice] is defined %}
                        {% set values = values | merge([ options.choices[choice] ]) %}
                    {% endif %}
                {% endfor %}

                {{ values | join(', ') }}
            {% else %}
                {{ value }}
            {% endif %}

            <br />
        {% endif %}
    {% endfor %}

    {% if listener.params.footer is not empty %}
        <p>{{ listener.params.footer | nl2br }}</p>
    {% endif %}

</body>
</html>