{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fenrizbesformconstructor/sonata_admin/js/modal.js') }}"></script>
{% endblock %}

{% block list_table %}
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="sonata-ba-list-field-header-text">
                            {{ 'fc.label.admin.form' | trans({}, 'FenrizbesFormConstructorBundle') }}
                        </th>
                        <th class="sonata-ba-list-field-header-text">
                            {{ 'fc.label.admin.orders_total' | trans({}, 'FenrizbesFormConstructorBundle') }}
                        </th>
                        <th class="sonata-ba-list-field-header-text">
                            {{ 'fc.label.admin.orders_today' | trans({}, 'FenrizbesFormConstructorBundle') }}
                        </th>
                        <th class="sonata-ba-list-field-header-actions">
                            {{ 'fc.label.admin.actions' | trans({}, 'FenrizbesFormConstructorBundle') }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for form in forms %}
                        <tr>
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                <a href="{{ admin.generateUrl('list', { form_id: form.id }) }}" class="sonata-link-identifier">
                                    {{ form.title }}
                                </a>
                            </td>

                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                {{ form.countFcRequests }}
                            </td>

                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                {{ form.countTodayRequests }}
                            </td>

                            <td class="sonata-ba-list-field sonata-ba-list-field-actions">
                                <div class="btn-group">
                                    <a
                                        href="{{ admin.generateUrl('list', { form_id: form.id }) }}"
                                        class="btn btn-sm btn-default view_link"
                                        title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}"
                                    >
                                        <i class="glyphicon glyphicon-zoom-in"></i>
                                        {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
                                    </a>

                                    <a
                                        href="#fc_modal"
                                        data-toggle="modal"
                                        data-title="{{ 'fc.title.admin.field.modal.configure_request' | trans({}, 'FenrizbesFormConstructorBundle') }}: {{ form.title }}"
                                        data-url="{{ admin.generateUrl('configure', { form_id: form.id }) }}"
                                        data-scope="edit"
                                        class="btn btn-sm btn-default configure_link"
                                        title="{{ 'fc.label.admin.configure' | trans({}, 'FenrizbesFormConstructorBundle') }}"
                                    >
                                        <i class="glyphicon glyphicon-cog"></i>
                                        {{ 'fc.label.admin.configure' | trans({}, 'FenrizbesFormConstructorBundle') }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{ include('FenrizbesFormConstructorBundle:SonataAdmin/FcForm:modal.html.twig') }}
{% endblock %}

{% block list_filters %}{% endblock %}