{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fenrizbesformconstructor/js/lib/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/fenrizbesformconstructor/js/fc_handler.js') }}"></script>
    <script src="{{ asset('bundles/fenrizbesformconstructor/js/fc_steps.js') }}"></script>
    <script src="{{ asset('bundles/fenrizbesformconstructor/sonata_admin/js/show/form.js') }}"></script>
{% endblock %}

{% block show %}
    <div class="sonata-ba-view">
        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        <div class="box box-success">
            <div class="box-body container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        {{ fc_form(object.alias, {
                            is_admin: true,
                            template: 'FenrizbesFormConstructorBundle:SonataAdmin/FcForm:form.html.twig'
                        }) }}
                    </div>
                </div>
            </div>

            {{ include('FenrizbesFormConstructorBundle:SonataAdmin/FcForm:tab_loader.html.twig') }}
        </div>

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
    </div>
{% endblock %}